<?php

return [
    'paths' => [
        'app',
    ],
    'level' => 8,
    'excludePaths' => [
        'app/Http',
        'app/Livewire',
        'app/Providers',
    ],
    'checkMissingIterableValueType' => false,
];
