includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app
    excludePaths:
        analyse:
            - app/Http/*
            - app/Livewire/*
            - app/Providers/*
